body {
    background-color: #b4b4b4;
    font-family: Arial, sans-serif;
}

.maintitle {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color:black;
    color: whitesmoke;
    padding: auto;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 200%;
    border-style:solid;
    border-width: 2px;
    border-color:papayawhip;
}

#header {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    top: 0px;
    cursor: pointer;
}

#nav {
    width: 50%;
    display: flex;
}

#nav li {
    list-style: none;
    padding: 26px 45px;
    font-size: 30px;
}

#nav li a:hover {
    color: black;
}

/* for the nav links
.nav {
    font-size: 30px;
    text-align: center;
    padding-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: -100%;
    margin-left: 50%;
}
*/